
#cabecalho #btn-frente > div{
	
	/*Posicionamento*/
	float:left;
	
	/*Estrutura*/
	padding : 2.5% 6%;
	margin: 0% 1%;
	
	/*Tipografia*/
	font-size: 2em;
	text-align:center;
	font-family: verdana;
	font-weight:bold;
	
	/*Gráfico*/
	/*Gradiente*/
	/*background: rgba(169,3,41,1); */
	/*Branco Neve
		background: #E1E7E4;*/
	/*border: solid black 2px;*/
	
}

#cabecalho #btn-frente > div:hover{
		
	cursor:pointer;
	color:white;
		
}

#btn-frente{
	
	background: rgba(169,3,41,1);
    /*border-radius:20px;*/
	
}